*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    font-family: 'Poppins', sans-serif;
}

/* #dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.navbar{
    color: white;
}